 body{
            background-color: rgba(41, 41, 93, 0.879);
            color: white;
            font-family: Arial, Helvetica, sans-serif;

        }
        .title{
            font-size: 30px;
            font-weight: 700;
            color: rgb(255, 253, 253);
            /* margin-top: 30px; */
            /* padding-top: 18px; */
            padding: 10px 15px;
            border: 2px solid rgb(69, 31, 110);
            border-radius: 25px;
            margin: 0 25%;
            background-color:rgba(81, 78, 78, 0.274);
            margin-bottom: 30px;
        }
        .move-icon{
            height: 50px;
            /* background-color: #181818; */
        }
        .move-btn{
            border: 2px solid white;
            margin-left: 15px;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            background-color: transparent;
        }
        .move-btn:hover{
            border: 2px solid rgb(204, 219, 1);
            border-radius: 50%;
            width: 100px;
            height: 100px;
            background-color: rgba(221, 239, 155, 0.461);
            cursor: pointer;
            /* margin-left: 15px; */
        }
        .move-btn:active{
            border: 2px solid rgb(204, 219, 1);
            border-radius: 50%;
            width: 100px;
            height: 100px;
            background-color: rgba(221, 239, 155, 0.41);
            cursor: pointer;
            /* margin-left: 15px; */
        }
        .result{
            font-size: 25px;
            font-weight: 600;
            margin-top: 50px;
            background: rgb(120, 112, 46);
            /* https://grabient.com/HQRgTCA0wKwMwHZpwGw2gBgBxWHAnACzSFxYmHrAaH4kZiQzD4hKwpyRyxYJA?style=linearSwatches&angle=135 */
            margin-left: 25%;
            margin-right: 25%;
            border-radius: 20px;
            text-transform: uppercase;
            /* padding: 10px 15px; */
        }
        .move{
            margin-top: 50px;
            /* margin-left: 30px; */
            font-size: large;
            font-weight: 600;
        }
        .score{
            margin-top: 50px;
            /* margin-left: 30px; */
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 600;
        }
        .reset{
            margin-top: 50px;
            margin-bottom: 30px;
            /* margin-left: 100px; */
            
            padding: 5px 30px;
            border-radius: 10px;
            background-color: blanchedalmond;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
        }
        .card{
            /* justify-content: center; */
            /* align-items: start; */
            text-align: center;
            margin:0% 25%;
            background: linear-gradient(332deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(177, 4, 200, 1) 73%, rgba(0, 212, 255, 1) 100%);            border-radius: 20px;
        }