h1{
    color: white;background-color: rgb(173, 122, 246);text-align: center; border-radius:6px ;justify-content: center;margin-left: 30%;margin-right: 30%;
}
h1:hover{
    color: rgb(255, 123, 0);
    background-color: rgb(121, 76, 244);
    text-align: center;
     border-radius:6px ;
     justify-content: center;
     margin-left: 30%;
     cursor: pointer;
     margin-right: 30%;
}
h2{
    color: white;
    background-color: rgb(222, 139, 16);
    text-align: center;
    border-radius:6px ;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;

}
h2:hover{
    
    color: rgb(103, 29, 29);
    background-color: rgb(233, 105, 145);
    text-align: center;
    border-radius:6px ;
    cursor: pointer;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;

}

    