*{
    margin: 0;
    border: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body
{
    background: linear-gradient(to right, #076585, #fff);
}

.card
{
   width: 90%;
   max-width: 470px;
   padding: 40px 35px;
   background: linear-gradient(to right, #000428, #004e92);
   color: antiquewhite;
   margin: 20px auto 0;
   border-radius: 10px;
   text-align: center;
   /* justify-content: center; */
   /* align-items: center; */
}
.search
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: ; */
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 10px;
    flex: 1;
    margin-right: 10px;
    font-size: 20px;
}
.search button{
    border: 0;
    outline: 0;
    background:#ebfffc ;
    height: 60px;
    width: 60px;
    border-radius:50% ;
    cursor: pointer;

}
.search button img{
    width: 20px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1
{
    font-size: 80px;
    font-weight: 500;
}
.weather h2
{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    /* display: flex; */
}
.col
{
    display: flex;
    align-items: center;
    text-align: left;

}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    margin: 40px 70px;
    padding: 5px;
    color: #004e92;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 500;
    background-color: #ffffff;
    display: none;
}
